.component-paragraph{padding:0.10667rem 0.85333rem 0.85333rem;line-height:0.85333rem;color:#999;font-size:0.59733rem;background-color:#fff;margin-top:0.42667rem;max-height:100%;background-size:cover}
