{% extends "./layout.html" %}
{% block customerCSS %}
<!--<link rel="stylesheet" href="/static/css/components/componentsall.css" />-->
{% endblock %}
{% block BodyContent %}
<div id="content">
	前端渲染页面
</div>


{% endblock %}
{% block customerJS %}
<script type="text/javascript" src="/static/js/lib/nunjucks.min.js"></script>
<script>
nunjucks.configure({
 	autoescape: true
 });
var env = new nunjucks.Environment();
env.addFilter("xrem", function(x){
	if(x){
        return x * 320 / 750 /20 + 'rem';
    }else{
        return "";
    }
});
var nameMap={
        	"titleComponent":"title",
        	"textComponent":"text"
        }
//diy页面json示例，实际中是使用http代理从接口服务层获取数据
        var pageData = {
            components: [
			{
                componet_id: "689",
                componet_info_type: "titleComponent",
                props: {
                    align: "center",
                    anchor_name: "anchor_name689",
                    bg_image: "",
                    bgcolor: "#ededed",
                    font_color: "#0af",
                    margin: "20",
                    more_name: "",
                    more_url: "",
                    title: "web组件开发"
                }
            },
            {
                componet_id: "681",
                componet_info_type: "titleComponent",
                props: {
                    align: "center",
                    anchor_name: "anchor_name681",
                    bg_image: "http://d03.res.meilishuo.net/pic/_o/66/58/a871ab7fc3acf94ad9b668b29de0_750_595.cf.jpg",
                    bgcolor: "#ededed",
                    font_color: "#02adae",
                    margin: "0",
                    more_name: "好搜",
                    more_url: "http://www.so.com",
                    title: "Ncomponents"
                }
            }, {
                componet_id: "472",
                componet_info_type: "textComponent",
                props: {
                    anchor_name: "anchor_name472",
                    bg_color: "",
                    bg_image: "http://d03.res.meilishuo.net/pic/_o/66/58/a871ab7fc3acf94ad9b668b29de0_750_595.cf.jpg",
                    font_color: "",
                    margin: "0",
                    text: "在node层，对js和css的文件做了一个缓存，然后加Expires头，尽量利用浏览器缓存。对于node层的缓存，在生产环境中，上线时可以手动更新这些js和css缓存，让用户每次访问都是从缓存中取数据。",
                }
            }
            
            ],
            page_name: "前端渲染组件"
        }
   var componentsStr=",";
   var componentsArray=[];
   var jsArray=[];
   var cssArray=[];
   $.each(pageData.components,function(){
   		if(componentsStr.indexOf(","+this.componet_info_type+",")<0){
   			componentsStr += this.componet_info_type+",";
   			componentsArray.push(this.componet_info_type);
   			jsArray.push(nameMap[this.componet_info_type]+".js");
   			cssArray.push(nameMap[this.componet_info_type]+".css");
   		}
   });
var jspath = '<script type="text/javascript" src="/combo?path='+jsArray.join(",")+'"><\/script>';

var csspath = '<link rel="stylesheet" href="/combo?path='+cssArray.join(",")+'" />';
var body=$("body");
body.append(csspath);
//body.append(jspath);

$.ajax({
	url:"/combo?path="+jsArray.join(","),
	async:false,
	success:function(str){
		window.eval(str)
	}
})
</script>
<script type="text/javascript">
$(function(){
	document.title=pageData.page_name;

	$.ajax({
		url:"/combo/index/gettpl?names="+componentsArray.join(","),
		success:function (tpl) {

			var tpls = $(tpl);
			var content=$("#content").html("");
			var html="";

			$.each(pageData.components,function(){
				var tplstr= tpls.filter("#"+this.componet_info_type).html();
				html = env.renderString(tplstr, {data:this.props});
				
		   		content.append(html);
		   		window.Ncomponents[nameMap[this.componet_info_type]].bindEvents(this.props.anchor_name);
		   });

			

		}
	});
  
});
</script>
{% endblock %}