<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="always">
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<link rel="apple-touch-icon" href="/static/img/favicon.png">
<meta name="keywords" content="ThinkJS, Node.js, io.js, MVC, Restful, Generator Function, ES6, ES7, Promise">
<meta name="description" content="ThinkJS 是一款可以使用 ES6/7 特性开发项目的 Node.js 框架，使用 async/await 或者 */yield 彻底解决异步回调的问题。">
<link href="/static/css/base/base.css" rel="stylesheet"  />
{% block customerCSS %}
    
{% endblock %}
</head>
<body>
{% block BodyContent %}
    
{% endblock %}
<script type="text/javascript" src="/static/js/lib/zepto.min.js"></script>
<script type="text/javascript" src="/static/js/base/setsize.js"></script>
{% block customerJS %}
    
{% endblock %}
</body>
</html>